header {
    border-bottom: 1px solid #dbdbdb;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#logo {
    font-size: 24px;
    color: black;
    text-decoration: none;
}

#navLinks {
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 24px;
}

.navLink {
    text-decoration: none;
    color: rgb(69, 69, 69);
}